* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    width: 1100px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 800;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    color: #F1DEC9;
}

.navbar-collapse {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background-color: #8D7B68;
}

.navbar-nav {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

.nav-item .nav-link {
    color: #F1DEC9;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#header {
    display: flex;
    align-items: center;
}

.header {
    margin-top: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card {
    /* border: 100px; */
    margin: auto;
}

.card-footer {
    background-color: #FFFFFF;
}

#footer {
    background-color: #8D7B68;
    position: relative;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    bottom: 0;
    width: 100%;
}